logs/*
!.gitkeep
.coveralls.yml
coverage/
dist/
node_modules/
app/node_modules
tmp
.tmp/
.project
.DS_Store
.idea
npm-debug.log
.sass-cache/
app/resources/styles/*
!app/resources/styles/sass/
app/resources/scripts/*
!app/resources/scripts/vendor/
