language: node_js

node_js:
  - "8"

addons:
  chrome: stable

services:
  - xvfb

before_script:
  - npm start > /dev/null &
  - npm run update-webdriver
  - sleep 1 # give server time to start

script:
  - npm install node-sass
  - npm run test-ci
  - grunt coverage
