<header>
  <div role="navigation" class="navbar navbar-default navbar-static-top tamu-header-nav-bar">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand tamu-header-brand tamu-header-display">
          <a href="http://library.tamu.edu"><img src="resources/images/tamu-logo-with-bar.png" alt="Libraries Logo with Bar"><span class="tamu-header-brand-text">Texas A&amp;M University Libraries</span></a>
        </span>
        <span class="navbar-brand tamu-header-brand tamu-header-display-mobile">
          <a href="http://library.tamu.edu/">
            <img src="resources/images/tamu-logo.png" alt="Libraries Logo">
          </a>
        </span>
        <div class="navbar-header pull-right visible-xs hidden-sm hidden-md hidden-lg">
          <ul class="nav nav-pills pull-left">
            <li>
              <a class="navbar-toggle navbar-link" href="http://askus.library.tamu.edu/webservice/">
                <span>Report a Problem</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-header pull-right hidden-xs">
        <ul class="nav navbar-nav pull-left"></ul>
        <ul class="nav navbar-nav pull-left">
          <li>
            <a href="http://askus.library.tamu.edu/webservice/">
              <span class="hidden-xs">Report a Problem</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div role="title" class="navbar navbar-default tamu-header-title-bar">
    <div class="container">
      <div class="navbar-header tamu-header-title">
        <a href="{{home}}">{{title}}</a>
      </div>
    </div>
  </div>
</header>
