<div ng-repeat="setting in managementSettings" class="form-group" ng-show="inputSetting(setting)">
  <label for="{{setting.key}}-input">{{setting.gloss}}</label>
  <input class="form-control" id="{{setting.key}}" type="{{setting.type}}" ng-model="model.settings[setting.key]" placeholder="{{setting.gloss}} for Remote Product Manager" />
</div>
<div class="form-group" ng-if="auth.required">
  <label for="toggle-auth">Auth</label>
  <div class="checkbox">
    <label>
      &nbsp;
      <input id="toggle-auth" name="toggle-auth" type="checkbox" ng-model="auth.useToken" ng-change="clearAuthSettings()" />Use token auth
    </label>
  </div>
</div>
