$primary: #500000;
$secondary: #3c0000;
$baseFontSize: 14pt;
$linkColor: #337ab7;

@import "node_modules/weaver-ui-core/app/resources/styles/sass/main";
@import "node_modules/weaver-ui-core/app/resources/styles/sass/theme-base";

@import "home/all";
@import "directives/all";
@import "management/all";

main {
  display: block;
  height: auto;
  min-height: 100%;
  margin-bottom: -50px;
}

main footer {
  display: block;
  margin-bottom: 75px;
}

.appContent {
  padding-top: 10px;
}

.error-page {
  margin: 50px 0;
}

.userMenu {
  margin-bottom: 5px;
}

.toggle-href {
  cursor: pointer;
}

.tab-pane .well { 
  min-height: 600px
}

.notesWarning {
  margin-top: 15px;
  padding: 15px;
}

.notesText {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .metadata-pane {
    height: 800px;
    overflow-y: auto;
    position: relative;
    margin-bottom: 25px;
  }
}

.metadata-pane label {
  font-size: 24px;
  margin: 20px 0;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.metadata-label {
  margin-bottom: 15px;
}

.label-add {
  color: #4A5C81;
}

.label-add:hover {
  cursor: pointer;
}

.label-remove {
  color: #CD7674;
}

.label-remove:hover {
  cursor: pointer;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  background-color: #4A5C81;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: #4A5C81;
  border-color: #1D3362;
}

.vertical-justified {
  width: 100%;
  min-width: 360px;
}

.documents-container {
  min-width: 400px;
}

.users-container {
  min-width: 650px;
}

.requiredField {
  color : #500000;
}

.requiredField:before {
  content: "*";
  color: #500000;
  margin: 0px 5px 0px 5px;
}

.centerProgress {
  top: 25%;
  left: 45%;
}

.tabbed {
  margin-left: 15px;
}

.hover-pointer:hover {
  cursor: pointer;
}

.view-theme-manager .input-group {
  margin-bottom: 16px;
}

.view-theme-manager .input-group-addon label {
  min-width: 100px;
}