<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateProject()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Create Project</h4>
</div>

<form name="projectForms.create" ng-submit="createProject()" novalidate class="project-forms-create">
  
  <validationmessage results="projectForms.getResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput
      model="projectToCreate"
      property="name"
      label="Name"
      placeholder="Name of the Project"
      form="forms.create"
      validations="projectForms.validations"
      results="projectForms.getResults()">
    </validatedinput>

    <div class="form-group">
      <label for="vms">Associate Version Management Software</label>
      <select class="form-control" ng-options="vms.name for vms in vmses" ng-model="projectToCreate.versionManagementSoftware" name="vms">
        <option value="" selected>None</option>
     </select>
    </div>

    <div class="form-group" ng-if="projectToCreate.versionManagementSoftware">
      <label for="vms">Associate Version Project</label>
      <select class="form-control" ng-options="vp.scopeId as vp.name for vp in getVmsVersionProjects(projectToCreate.versionManagementSoftware.id)" ng-model="projectToCreate.scopeId" name="vms">
        <option value="" selected>None</option>
     </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="cancelCreateProject()">Cancel</button>
    <button type="submit" class="btn btn-success">Create</button>
  </div>
</form>