<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelCreateProject()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Create Project</h4>
</div>

<form name="projectForms.create" ng-submit="createProject()" novalidate class="project-forms-create">

  <validationmessage results="projectForms.getResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput model="projectToCreate" property="name" label="Name" placeholder="Name of the Project" form="projectForms.create"
      validations="projectForms.validations" results="projectRepo.getResults()">
    </validatedinput>

    <div class="form-group">
      <label for="remoteProjectManager">Associate Version Management Software</label>
      <select class="form-control" ng-options="remoteProjectManager.name for remoteProjectManager in remoteProjectManagers" ng-model="projectToCreate.remoteProjectManager"
        name="remoteProjectManager">
        <option value="" selected>None</option>
      </select>
    </div>

    <div class="form-group" ng-if="projectToCreate.remoteProjectManager">
      <label for="remoteProjectManager">Associate Version Project</label>
      <select class="form-control" ng-options="vp.scopeId as vp.name for vp in getRemoteProjectManagerVersionProjects(projectToCreate.remoteProjectManager.id) | orderBy:'name'"
        ng-model="projectToCreate.scopeId" name="remoteProjectManager">
        <option value="" selected>None</option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelCreateProject()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="projectForms.create.$invalid">Create</button>
  </div>
</form>