<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="resetCreateRemoteProjectManager()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Create Remote Project Manager</h4>
</div>

<form name="remoteProjectManagerForms.create" ng-submit="createRemoteProjectManager()" novalidate class="remoteProjectManager-forms-create">

  <validationmessage results="remoteProjectManagerForms.getResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput id="create-name" model="remoteProjectManagerToCreate" property="name" label="Name" placeholder="Name of the Remote Project Manager" form="remoteProjectManagerForms.create" validations="remoteProjectManagerForms.validations" results="remoteProjectManagerForms.getResults()"></validatedinput>

    <validatedselect id="create-type" options="serviceTypes" optionvalue="value" optionproperty="gloss" model="remoteProjectManagerToCreate" property="type" label="Type" form="remoteProjectManagerForms.create" validations="remoteProjectManagerForms.validations" results="remoteProjectManagerForms.getResults()"></validatedselect>

    <validatedinput id="edit-url" model="remoteProjectManagerToCreate" property="url" label="URL" placeholder="URL of the Remote Project Manager" form="remoteProjectManagerForms.create" validations="remoteProjectManagerForms.validations" results="remoteProjectManagerForms.getResults()"></validatedinput>

    <validatedinput id="edit-token" model="remoteProjectManagerToCreate" type="password" property="token" label="Token" placeholder="Token for the Remote Project Manager" form="remoteProjectManagerForms.create" validations="remoteProjectManagerForms.validations" results="remoteProjectManagerForms.getResults()"></validatedinput>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="resetCreateRemoteProjectManager()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="remoteProjectManagerForms.create.$invalid">Create</button>
  </div>
</form>
