<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelEditProject()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Edit Project</h4>
</div>

<form name="projectForms.edit" ng-submit="updateProject()" novalidate>

  <validationmessage results="projectForms.getResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput model="projectToEdit" property="name" label="Name" placeholder="Name of the Project" form="projectForms.edit" validations="projectForms.validations" results="projectForms.getResults()"
      autocomplete="off">
    </validatedinput>

    <div class="form-group">
      <label for="remoteProjectManager">Associate Remote Project Manager</label>
      <select class="form-control" ng-model="projectToEdit.remoteProjectManager" name="remoteProjectManager">
        <option value="" ng-selected="projectToEdit.remoteProjectManager === undefined">None</option>
        <option value="" ng-repeat="remoteProjectManager in remoteProjectManagers" ng-value="remoteProjectManager" ng-selected="projectToEdit.remoteProjectManager.id === remoteProjectManager.id">{{remoteProjectManager.name}}</option>
      </select>
    </div>

    <div class="form-group" ng-if="projectToEdit.remoteProjectManager">
      <label for="remoteProjectManager">Associate Version Project</label>
      <select class="form-control" ng-options="remoteProjectManager.id as remoteProjectManager.name for remoteProjectManager in getRemoteProjectManagerRemoteProjects(projectToEdit.remoteProjectManager.id) | orderBy:'name'"
        ng-model="projectToEdit.scopeId" name="remoteProjectManager">
        <option value="" selected>None</option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelEditProject()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="!projectForms.edit.$dirty||projectForms.edit.$invalid">Update</button>
  </div>
</form>