<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelEditVms()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Edit Version Managent Software</h4>
</div>

<form name="vmsForms.edit" ng-submit="updateVms()" novalidate>

  <validationmessage results="vmsForms.getResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput
      model="vmsToEdit"
      property="name"
      label="Name"
      placeholder="Name of the Version Management Software"
      form="vmsForms.edit"
      validations="vmsForms.validations"
      results="vmsForms.getResults()">
    </validatedinput>

    <validatedselect
      options="serviceTypes"
      optionvalue="value"
      optionproperty="gloss"
      model="vmsToEdit"
      property="type"
      label="Type"
      form="vmsForms.edit"
      validations="vmsForms.validations"
      results="vmsForms.getResults()">
    </validatedselect>

    <vms-form
      ng-if="vmsToEdit.type"
      management-settings="typeSettings(vmsToEdit.type)"
      model="vmsToEdit">
    </vms-form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelEditVms()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="!vmsForms.edit.$dirty||vmsForms.edit.$invalid">Edit</button>
  </div>
</form>