<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelEditProduct()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Edit Product</h4>
</div>

<form name="productForms.edit" ng-submit="updateProduct()" novalidate>

  <validationmessage results="productForms.getResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput model="productToEdit" property="name" label="Name" placeholder="Name of the Product" form="productForms.edit" validations="productForms.validations" results="productForms.getResults()"
      autocomplete="off">
    </validatedinput>

    <div class="panel panel-default remote-product-panel">
      <div class="panel-heading">
        <div>
          <label>Remote Products</label>
          <div ng-if="addingRemoteProductInfo" class="btn-group pull-right" role="group">
            <button ng-click="addRemoteProductInfo(productToEdit.remoteProducts, remoteProductInfoToAdd)" ng-disabled="remoteProductInfoToAdd.scopeId === null" class="btn btn-success" type="button">Add</button>
            <button ng-click="closeAddRemoteProductInfo()" class="btn btn-default" type="button">Cancel</button>
          </div>
          <div ng-if="!addingRemoteProductInfo" class="btn btn-default pull-right" ng-click="openAddRemoteProductInfo()">Add</div>
        </div>
        <div class="form-group" ng-if="addingRemoteProductInfo">
          <label for="remoteProductManager">Associate Remote Product Manager</label>
          <select name="remoteProductManager" class="form-control" ng-model="remoteProductInfoToAdd.remoteProductManager" ng-options="remoteProductManager.name for remoteProductManager in remoteProductManagers | orderBy:'name'">
            <option value="" selected>None</option>
          </select>
        </div>
        <div class="form-group" ng-if="remoteProductInfoToAdd.remoteProductManager">
          <label for="scopeId">Associate Remote Product</label>
          <select name="scopeId" class="form-control" ng-model="remoteProductInfoToAdd.scopeId" ng-options="remoteProductManager.id as remoteProductManager.name for remoteProductManager in getRemoteProductManagerRemoteProducts(remoteProductInfoToAdd.remoteProductManager.id) | orderBy:'name' | availableRemoteProduct : productToEdit.remoteProducts">
            <option value="" selected>None</option>
          </select>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="remoteProduct in productToEdit.remoteProducts track by remoteProduct.scopeId" ng-model="productToEdit.remoteProducts">{{getRemoteProductByRemoteProductInfo(remoteProduct).name}}
            <span class="glyphicon glyphicon-trash clickable pull-right" title="Remote Remote Product" ng-click="removeRemoteProductInfo(productToEdit.remoteProducts, remoteProduct)"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group" ng-if="remoteProductInfoToAdd.remoteProductManager">
      <label for="remoteProductManager">Associate Version Product</label>
      <select class="form-control" ng-options="remoteProductManager.id as remoteProductManager.name for remoteProductManager in getRemoteProductManagerRemoteProducts(remoteProductInfoToAdd.remoteProductManager.id) | orderBy:'name'"
        ng-model="productToEdit.scopeId" name="remoteProductManager">
        <option value="" selected>None</option>
      </select>
    </div>

    <validatedinput
      model="productToEdit"
      property="devUrl"
      label="Development Deployment Location"
      placeholder="URL of Deployment"
      form="productForms.edit"
      validations="productForms.validations"
      results="productForms.getResults()"
      autocomplete="off">
    </validatedinput>

    <validatedinput
      model="productToEdit"
      property="preUrl"
      label="Pre-Production Deployment Location"
      placeholder="URL of Deployment"
      form="productForms.edit"
      validations="productForms.validations"
      results="productForms.getResults()"
      autocomplete="off">
    </validatedinput>

    <validatedinput
      model="productToEdit"
      property="productionUrl"
      label="Production Deployment Location"
      placeholder="URL of Deployment"
      form="productForms.edit"
      validations="productForms.validations"
      results="productForms.getResults()"
      autocomplete="off">
    </validatedinput>

    <validatedinput
      model="productToEdit"
      property="wikiUrl"
      label="Product Wiki Page"
      placeholder="URL of Wiki Page"
      form="productForms.edit"
      validations="productForms.validations"
      results="productForms.getResults()"
      autocomplete="off">
    </validatedinput>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelEditProduct()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="(!remoteProductInfoChanged&&!productForms.edit.$dirty)||productForms.edit.$invalid">Update</button>
  </div>
</form>
