<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelEditInternalRequest()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Edit InternalRequest</h4>
</div>

<form name="internalRequestForms.edit" ng-submit="updateInternalRequest()" novalidate>

  <validationmessage results="internalRequestForms.getResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput
      id="internalRequestTitle"
      model="internalRequestToEdit"
      property="title"
      placeholder="Title of the Internal Request"
      label="Title"
      form="internalRequest.edit"
      validations="internalRequestForms.validations"
      results="internalRequestForms.getResults()"
      autocomplete="off">
    </validatedinput>

    <validatedinput
      id="internalRequestDescription"
      model="internalRequestToEdit"
      property="description"
      placeholder="Description of the Internal Request"
      label="Description"
      form="internalRequest.edit"
      validations="internalRequestForms.validations"
      results="internalRequestForms.getResults()"
      autocomplete="off">
    </validatedinput>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelEditInternalRequest()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="!internalRequestForms.edit.$dirty || internalRequestForms.edit.$invalid">Update</button>
  </div>
</form>
