<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelEditInternalRequest()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Edit InternalRequest</h4>
</div>

<form name="internalRequestForms.edit" ng-submit="updateInternalRequest()" novalidate>

  <alerts seconds="60" channels="internal/request" types="WARNING,ERROR" exclusive></alerts>
  <validationmessage results="internalRequestForms.getResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput
      id="internalRequestTitle"
      model="internalRequestToEdit"
      property="title"
      placeholder="Title of the Internal Request"
      label="Title"
      form="internalRequest.edit"
      validations="internalRequestForms.validations"
      results="internalRequestForms.getResults()"
      autocomplete="off">
    </validatedinput>

    <validatedtextarea
      id="internalRequestDescription"
      model="internalRequestToEdit"
      property="description"
      placeholder="Description of the Internal Request"
      label="Description"
      form="internalRequest.edit"
      validations="internalRequestForms.validations"
      results="internalRequestForms.getResults()"
      autocomplete="off">
    </validatedtextarea>

    <div ng-if="products" class="form-group">
      <label for="product">Associate Product</label>
      <select name="product" class="form-control" ng-model="internalRequestToEdit.product" ng-options="product as product.name for product in products track by product.id" ng-change="selectRemoteProjects()" ng-disabled="productsLoading">
        <option value="" selected>None</option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelEditInternalRequest()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="!internalRequestForms.edit.$dirty || internalRequestForms.edit.$invalid">Update</button>
  </div>
</form>
