<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close modal-close" aria-label="Close" ng-click="cancelPushFeatureRequest()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Push Internal Request (Feature Request)</h4>
</div>

<form ng-if="featureRequestToPush.id" name="internalRequestForms.push" ng-submit="pushFeatureRequest()" novalidate>

  <validationmessage results="internalRequestForms.getResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput
      id="featureRequestTitle"
      model="featureRequestToPush"
      property="title"
      placeholder="Title of the Feature Request"
      label="Title"
      disabled="'true'"
      form="internalRequest.push"
      validations="internalRequestForms.validations"
      results="internalRequestForms.getResults()"
      autocomplete="off">
    </validatedinput>

    <validatedinput
      id="featureRequestDescription"
      model="featureRequestToPush"
      property="description"
      placeholder="Description of the Feature Request"
      label="Description"
      disabled="'true'"
      form="internalRequest.push"
      validations="internalRequestForms.validations"
      results="internalRequestForms.getResults()"e
      autocomplete="off">
    </validatedinput>

    <div ng-if="products" class="form-group">
      <label for="product">Associate Product</label>
      <select name="product" class="form-control" ng-model="featureRequestToPush.product" ng-options="product as product.name for product in products track by product.id" ng-change="selectRemoteProducts()" disabled="disabled">
        <option value="" selected>None</option>
      </select>
    </div>

    <div class="form-group" ng-if="featureRequestToPush.product.id">
      <label for="scopeId">Associate Remote Product</label>
      <select name="scopeId" class="form-control" ng-model="featureRequestToPush.scopeId" ng-options="remoteProduct.id as remoteProduct.name for remoteProduct in remoteProducts[featureRequestToPush.product.id]" ng-disabled="productsLoading || remoteProductsLoading[featureRequestToPush.product.id]">
        <option value="" selected>None</option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelPushFeatureRequest()">Cancel</button>
    <button type="submit" class="btn btn-success" ng-disabled="!internalRequestForms.push.$dirty || internalRequestForms.push.$invalid || !featureRequestToPush.scopeId">Push</button>
  </div>
</form>
