<div class="container">

  <div class="row">

    <wvr-tabs target="managementView">
      <wvr-tab path="products" view="views/management/products.html" label="products">Products</wvr-tab>
      <wvr-tab path="statuses" view="views/management/statuses.html" label="statuses">Statuses</wvr-tab>
      <wvr-tab path="remoteProductManager" view="views/management/remoteProductManager.html" label="remoteProductManager">Remote Product Managers</wvr-tab>
      <wvr-tab path="sprintBlacklists" view="views/management/sprintBlacklists.html" label="sprintBlacklists">Sprint Blacklist</wvr-tab>
      <wvr-tab path="internalRequests" view="views/management/internalRequests.html" label="internalRequests">Internal Requests</wvr-tab>
      <wvr-tab path="users" view="views/management/users.html" label="users">Users</wvr-tab>
    </wvr-tabs>

    <wvr-tabview class="management-vew" for="managementView"></wvr-tabview>

  </div>

</div>
